name: CI Pipeline
on:
  - push
  - pull_request
jobs:
  security-check:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/aquasecurity/trivy:latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: scanning source/pinger/Dockerfile
        run: trivy config --severity MEDIUM,HIGH,CRITICAL source/pinger/Dockerfile
      - name: scanning devops/compose/compose.yaml
        run: trivy config --severity MEDIUM,HIGH,CRITICAL devops/compose/compose.yaml
      - name: scanning source/pinger
        run: trivy fs --severity MEDIUM,HIGH,CRITICAL source/pinger
  pinger-clippy:
    runs-on: ubuntu-latest
    container:
      image: rust:1.91.0
    needs: security-check
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: installing clippy
        run: rustup component add clippy
      - name: running clippy
        working-directory: source/pinger
        run: cargo clippy -- -Dwarnings
  build:
    runs-on: ubuntu-latest
    needs: [security-check, pinger-clippy]
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: build
        run: |
          sudo addgroup --gid 1000 ciuser
          sudo adduser --uid 1000 --gid 1000 --disabled-password --gecos "" ciuser
          sudo usermod -aG docker ciuser
          sudo chown -R 1000:1000 $GITHUB_WORKSPACE
          su ciuser -c "make"
