name: CI Pipeline
on:
  - push
  - pull_request
jobs:
  security-check:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/aquasecurity/trivy:latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: scanning devops/containers/rustbuild/Dockerfile
        run: trivy config --severity MEDIUM,HIGH,CRITICAL devops/containers/rustbuild/Dockerfile
      - name: scanning source/pinger/Dockerfile
        run: trivy config --severity MEDIUM,HIGH,CRITICAL source/pinger/Dockerfile
      - name: scanning devops/compose/compose.yaml
        run: trivy config --severity MEDIUM,HIGH,CRITICAL devops/compose/compose.yaml
      - name: scanning source/pinger
        run: trivy fs --severity MEDIUM,HIGH,CRITICAL source/pinger
  pinger-clippy:
    runs-on: ubuntu-latest
    container:
      image: rust:1.91.0
    needs: security-check
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: running clippy
        working-directory: source/pinger
        run: cargo clippy -- -Dwarnings
  build:
    runs-on: ubuntu-latest
    container:
      image: docker:dind
    needs: [security-check, pinger-clippy]
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: install make
        run: apk add make --no-cache
      - name: build
        run: make
